/* Static spinner - no animation */
.spinner {
  font-size: 1em;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: currentColor;
  opacity: 0.25;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
}

.spinner .spinner-blade:nth-child(1) {
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  transform: rotate(330deg);
}
